[2015-01-12 16:18] wardsng opened #3 "length.js imperial unit in"
Cool library! I'm trying to do some conversions in IE8 and it's barfing on the 'in' key (due to being a keyword) in lib/definitions/length.js. Would you be able to stringify that key so it works?

Thanks!

[2015-01-12 16:31] ben-ng commented on #3
Oops, sorry about that. I don't have time to maintain this lib right now, can you send me a PR?

[2015-01-12 16:58] wardsng commented on #3
Sure, submitted a PR

[2015-01-12 18:31] ben-ng commented on #3
Thanks, pushed in 0.1.1

[2015-01-12 18:31] #3 closed

[2015-06-03 20:16] morenoh149 opened #5 "Temperature fahrenheit Celsius Kelvin"
Would temperature conversion code be welcome?

[2015-06-03 20:32] ben-ng commented on #5
yup!

[2015-09-16 03:15] maddijoyce opened #9 "Best unit function"
Hey,

I've just made a pull request for some additional units.
In my forked version, I've also added a 'best' function.

So you run:
[code]

And it will choose the best units (in this case meters) with the logic of highest units where the number is greater than 1.

Do you want a pull request for that?

[2015-09-16 19:47] ben-ng commented on #9
Sounds like a useful addition!

[2015-11-09 17:47] toddself commented on #5
Published in version 0.3.0.  Closing issue

[2015-11-09 17:47] #5 closed

[2015-11-09 17:47] toddself commented on #9
Hi @maddijoyce I just merged most of your original PR except for the `best` functionality.

Would you want to make a clean PR with just that functionality?

[2015-12-18 02:10] maddijoyce commented on #9
Sorry, completely forgot to do this.
I've added a new PR #15 off the current master branch (0.4.0 I think).

Cheers,
Maddi

[2015-12-18 02:10] #9 closed

[2015-12-18 02:16] maddijoyce commented on #9
Messed up the case in the tests again. I've done it properly with #16.

[2015-12-18 06:48] morenoh149 opened #17 "Document new features"
At least temperature conversion should be added to readme https://github.com/ben-ng/convert-units/commit/14a4d530ce2f3aa2ea6548f82d7fe957e3fa57af

probably other things as well

[2016-04-24 13:25] eimg opened #21 "Definition for Third Unit Set"
Very cool library. I am trying to use this to build a traditional conversion app.

Length for example, I like to add third unit set, let's call it "Burmese" length. So, there will be 3 sets of unit definitions for length: Metric, Imperial and Burmese. I would like to be able to convert between Metric <=> Imperial, Metric <=> Burmese and Imperial <=> Burmese.

Is there any way to achieve that?

[2016-04-26 13:38] eimg commented on #21
Sorry that I overlooked. I can simply put additional units into existing set instead of adding new unit set.

[2016-04-26 13:38] #21 closed

[2016-04-29 05:45] ben-ng commented on #21
Sorry I didn't see this earlier, send me a PR if you do implement additional units!

[2016-05-27 13:59] sirtimid opened #23 "Change litre symbol"
The SI accepted symbol for litre is L or l. The ltr abbreviation is common, but incorrect.

[2016-05-30 19:52] #23 closed

[2016-05-30 19:53] ben-ng commented on #23
Thank you, published as 1.0.0 as it's a breaking change.

[2016-06-23 18:11] jbeuckm opened #25 "Document how to add units"
Please document how custom units could be added without hacking those included with the module.

[2016-07-06 00:00] ben-ng commented on #25
There isn't a way to do that right now. Feel free to fork this repo and add your own units. I'll also accept a PR for a way to define custom units that aren't in the repo. Ideally, the units are universal enough that everyone can benefit from them being in the repo.

[2016-07-21 20:08] ghost opened #26 "mph/kmh"
I was not able to find speed units, would someone create speed units?

^punisher

[2016-08-05 06:42] shark-o opened #27 "Area conversions"
Is there any area conversions (m^2, hectare, ft^2, acres etc.)?

[2016-08-11 14:08] rjdestigter commented on #27
https://github.com/ben-ng/convert-units/pull/24

[2016-08-12 22:02] ben-ng commented on #26
Feel free to create these yourself too.

[2016-08-12 22:03] ben-ng commented on #27
Thanks, @rjdestigter!

[2016-08-12 22:03] #27 closed

[2016-08-25 03:19] #25 closed

[2016-08-25 03:20] #17 closed

[2016-11-03 19:27] gastonprieto opened #35 "tag version 2.0?"
What changes were introduced in version 2.0.0 published in npm?

[2016-11-13 00:59] ben-ng commented on #35
Time conversions were changed in #34

[2016-11-13 00:59] #35 closed

[2016-12-17 23:18] cuth opened #39 "measure is undefined when listing all"
When using `convert().list()` to list all the units, the `measure` property is always `undefined`.

[2016-12-18 06:03] #39 closed

[2016-12-18 06:04] ben-ng commented on #39
Thanks! Published in 1.3.1

[2017-03-15 21:05] hickeroar opened #47 "Feature Request: API for injecting custom measures"
Currently the only way to add custom measures is to fork the repo and add them there, then open a PR if we want them permanently added to convert-units.

It'd be great to be able to call `convert().addMeasure('measureName', measureExports);` to add custom measures that don't already exist.

For instance, I would like a "force" measure that converts pound-feet to newton-meters. I'm currently in the

[2017-03-15 21:20] hickeroar commented on #47
One other note: I'm willing to develop this and PR it, assuming it wouldn't be flat-out rejected out of idealistic opposition, etc. 😄 If you want to give me some of your own expectations for the change as well, that would help me make sure I produce something you'd find pleasing.

[2017-03-16 20:48] ben-ng commented on #47
I would love to merge a PR that implements this!

As for an API... I would discourage APIs that mutate the module itself, because it can lead to confusing behavior:

[code]

I'd prefer if you had to register custom measures on an "instance" of convert... maybe something like this:

[code]

Ideally the custom measure registration system can also be used internally, so that custom measures are defin

[2017-03-16 20:51] ben-ng commented on #47
Another open question is whether the API should only allow you to add custom measures, or let you define _all_ the measures available:

[code]

So this would create an instance of `convert` that only lets you convert the built-ins mass and volume, and some custom measure.

[2017-04-20 19:14] SoftCircuits opened #53 "Library specific to Node.js?"
After doing some research, it seems that the `require()` syntax used throughout this library is specific to Node.js.

I don't understand why a library like this can't be written for "bare bones" JavaScript. That would make it useful to the widest range of users. Instead, people like me (who have extensive programming experience, but not much with JavaScript) are kind of left out of the party.

Jus

[2017-04-20 22:43] ben-ng commented on #53
This library isn't one giant file because it would be more difficult to maintain and contribute to.

That said, you can use always something like [browserify](https://github.com/substack/node-browserify#usage) to create a standalone version of this module:

[code]

I'll accept a pull request that makes this library easier to consume without sacrificing CommonJS compatibility or maintainability.

[2017-04-26 21:31] kevindoole commented on #47
heh, didn't even notice this issue! Anyway, we're using this for our needs and so i have a PR that possibly addresses your needs here. #54

[2017-04-28 08:52] bahodirk opened #55 "convert from metric to imperial"
Hello, I have inputs only in metrics, I am trying to convert it to corresponding imperial unit in Angular 2 app.

For example, I am looking for

`convert(1000).from('kg').toBest().imperial()`

[2017-05-05 20:10] qyoz opened #56 "Support for more than two systems"
The code "works" but the ratios are off because of the third system.
Specifically, I was adding a new definition - fuel consumption, with three systems:
imperial (gallon), us (us gallon) and metric (litre).
 `[ 'km/l', 'l/100km', 'mi/gal-us', 'gal-us/100mi', 'mi/gal-imp', 'gal-imp/100mi']`

Each system has a different ratio when compared to another, so it can't be a fixed number.

Any thoughts?

[2017-05-21 22:57] ben-ng commented on #55
There isn't a great way to do this yet, but this should work:

[code]

[2017-05-21 22:57] #55 closed

[2017-05-21 23:01] ben-ng commented on #56
This is a really interesting use case, and I don't have a good answer for how to implement this right now. Let me know if you have any ideas.

[2017-05-21 23:01] #53 closed

[2017-05-22 09:04] qyoz commented on #56
We would need to change the calculation [here](https://github.com/ben-ng/convert-units/blob/master/lib/index.js#L106) to look for a ratio per definition, something along the lines of
[code]

[2017-05-22 15:40] SoftCircuits opened #57 "Error in Pressure Module"
Looks like you may have an error in your Pressure module.

The anchor unit for the imperial system is marked as "psi". But the psi `to_anchor` is 1/1000 instead of 1, while the `to_anchor` for "ksi" is 1. Since `to_anchor` is the multiplier to convert to the anchor unit, the anchor unit should always have a ratio of 1.

[2017-06-05 12:21] Craigzyc opened #61 "Error in temperature conversions"
I was trying to add the temperature unit Rankine but the tests kept failing.
After looking further into it I decided to add a test for F to K which are 2 existing units.
[code]
This test should pass but fails with
[code]

I'm not sure how it's coming up with that as the math seems correct but I can not add Rankine unless the F to K calculation works.

[2017-06-09 13:17] brainlid opened #62 "toBest() doesn't exclude correctly"
[code]
I would expect that the exclude option should result in some other unit being selected for a "best" fit.

[2017-06-09 14:05] brainlid commented on #62
Nevermind. Realized there was a 2.2.0 version. Tested with that and it worked correctly.

[2017-06-09 14:05] #62 closed

[2017-06-22 23:29] bneigher opened #64 "Proposal - Precision Parameter"
Cool library - would be cool if we could specify precision since some applications that would use this may be looking for exact precision.

Thoughts 🤔 ?

[2017-08-08 12:43] buesing opened #70 "Fix naming of imperial tablespoon unit"
In the readme the tablespoon unit is called `tbsp` but in the actual library it is called `Tbs`. The readme should reflect the correct naming.

[2017-08-15 14:37] boyana86 opened #72 "ClientSide usage"
Hi,
First of all, thank you for your effort.
I would like to ask how I can use this js in frontend rather than backend?

[2017-08-17 01:29] mason-bially commented on #64
#71 might be what you are looking for?

[2017-08-22 05:50] messinmotion commented on #72
Also interested

[2017-08-30 16:08] cwalv commented on #72
@boyana86 you need to use a bundler that understands commonjs, like webpack.

[2017-10-08 21:07] haykam821 opened #76 "Allow full names of units"

[2017-10-13 20:51] jiminikiz commented on #76
I personally don't think this is necessary.

[2017-10-13 20:52] jiminikiz commented on #72
Already have this working on the front-end with webpack.

[2017-10-26 17:35] PassTheMayo commented on #72
@jiminikiz Would you like to share how? I tried using browserify and webpack but I keep receiving the error `require is not defined`....

[2017-10-26 17:42] jiminikiz commented on #72
I am using `vue-js` via the `cli` and I am able to `import` `convert-units` no problem. Not sure how to do it manually.

[2017-11-07 13:13] pedro-mass commented on #55
Could this be a feature? A lot of my unit conversions are from one system to the next, so I'd have to make a common function to handle this filter/lookup.

It would be nice if it was rolled into this awesome library.

[2017-11-10 18:43] wootwoot1234 commented on #55
+1

[2017-11-23 20:23] hosseintalebi opened #80 "krm and msk have the same singular and plural in description"
When you call `convert().describe('krm')` it will return:
[code]
I think the singular (Matsked) and plural (Matskedar) values are for msk and wrongly used for krm.

[2017-11-23 20:28] hosseintalebi opened #81 "All the singular and plural values in description are first case except tonne"
I noticed the first letter of all the singular and plural values in description for mass units are capital except for `convert().describe('t')` which returns them in lowercase:
[code]
Any reasons for that?

[2017-12-10 21:52] kgrosvenor opened #83 "Feature Request - Create blood glucose (mmo/l - mg/dL) & hba1c (mmol-mol) - (percent)"
Just a another set of units you could add 👍

[2017-12-31 09:35] ruudboon opened #87 "[NFR] inches of mercury (inHg)"
Would it be possible to add a conversion for inches of mercury (inHg) to this awesome lib?

[2018-01-04 18:41] jiminikiz commented on #87
It definitely would be possible. Fork this repo, implement that conversion with a test, and submit a pull request.  Definitely planning on going through the current pull requests ASAP, still 13 outstanding as of writing this.

[2018-01-04 19:33] jiminikiz commented on #72
I may do a webpack right up for how to do this, but for many using bundlers and webpack, this is a non-issue. Closing for now since there are solutions for this.

[2018-01-04 19:33] #72 closed

[2018-01-04 19:35] jiminikiz commented on #83
If you would like to add these units, feel free to submit a pull request following the design patterns of the library. Pull Request #51 might also allow the library to add units on the fly for customer units not currently built into the library.

If not, I will see when these units can be added. Digging through current issues and pull requests to see what is the easiest to add / fix first.

[2018-01-04 20:01] jiminikiz commented on #81
This has been fixed with #85. Version 2.3.2 resolves this issue. Working on publishing to npm.

[2018-01-04 20:01] #81 closed

[2018-01-04 20:02] #76 closed

[2018-01-04 20:04] jiminikiz commented on #56
Definitely keeping this open, +1

[2018-01-04 20:06] jiminikiz commented on #64
Closing this issue as this will be addresses with #71.

[2018-01-04 20:06] #64 closed

[2018-01-09 00:15] rlueder commented on #87
@ruudboon are you working on a PR for inch of mercury (inHg)? If not I'll send one, as I'd like to add other aviation-related units to the lib:
- feet per minute (ft/min)
- nautical mile (nm or NM)
- pound per hour (lb/h or PPH)

[2018-01-09 06:58] ruudboon commented on #87
No, I looked into this but not sure how to implement this. To correctly convert, the temperature should be added as extra parameter

[2018-01-12 17:44] jiminikiz commented on #70
The latest version of the library [2.3.3] has fixed this issue.

[2018-01-12 17:44] #70 closed

[2018-01-18 23:31] DusterTheFirst opened #89 "Digital conversions are off"
![screen shot 2018-01-18 at 18 28 24](https://user-images.githubusercontent.com/14093962/35126922-9ec01dca-fc7d-11e7-94c7-81243361e3ca.png)

The package's conversions [left] differ from the operating system's calculations [right]

[2018-01-18 23:35] DusterTheFirst commented on #89
whoops, actually a rounding error

[2018-01-18 23:35] #89 closed

[2018-01-18 23:35] DusterTheFirst commented on #89
*on my part

*put a - instead of a /*

[2018-02-16 09:32] xploSEoF opened #91 "Error in volume conversion"
You've mis-identified "US" values as "imperial".

3.7 litres to the US gallon, whilst 4.5 litres to the imperial gallon. This is quite a big issue.

[2018-02-17 04:39] jiminikiz commented on #91
Might be time to explore adding "US values" as another conversion category. Other users of this library have suggested such a feature. Since the library itself explicitly uses "Imperial", it definitely can cause confusion if US values are being used.

[2018-02-26 08:49] assafb81 opened #93 "package licence"
hi @jiminikiz ,
Just want to verify,
Is this package is under MIT licence?

[2018-02-28 10:15] #93 closed

[2018-03-08 01:11] awps opened #94 "Client side usage"
As noted here https://github.com/ben-ng/convert-units/issues/53

I want to use it in the browser but no success. How to do it?

I did this:
[code]

Now I have `convert-units-dist.js` in `assets` folder. I included the script in the page and what's next?
I tried the following with no success:
[code]
Looks like the browserify does nothing than just bundling all the scripts together but...

Any help

[2018-03-08 15:28] ben-ng commented on #94
You need to use the `--standalone` or `-s` option.

[2018-03-20 01:50] tanvirkalam opened #95 "Area cm2: sigular and plural name should add square prefix"
In area unit,  cm2's name should be change.

name: {
      singular: 'Square Centimeter',
      plural: 'Square  Centimeters'
    }

[2018-03-26 22:37] #94 closed

[2018-03-28 12:48] webmasterkai commented on #26
Miles per hour is available with `m/h`. Kilometres per hour is available with `km/h`. I believe this issue can be closed.

[2018-04-28 13:32] matmar10 opened #98 "Add support for lookup of unit name from its abbreviation, singular, or plural."
Usage:

[code]

[2018-04-28 15:02] matmar10 opened #100 "Add support for alternative unit names and abbreviations"
Suggested interface: add an `alternates` property to the `name` definition.

This would work in tandem with the `lookup` feature requested in issue #98 and fixed in PR #99 .

See PR #101 for working support with tests:

[code]

[2018-04-30 21:44] djensen47 opened #103 "Dependency free"
Have you considered making this library dependency free? For bundling it into front-end apps it would be nice for it to not have dependencies on external libraries.

P.S., great library, thanks for all the wonderful work

[2018-04-30 21:54] djensen47 commented on #103
Also, if you're interested in making this dependency free, I'm willing to put in a PR for the changes.

[2018-04-30 22:07] djensen47 opened #104 "toBest() returns a hardcoded English string"
`toBest` is super useful unless you need to internationalize the application using that library.

I would like to propose a version of toBest that returns an object like so ...

[code]

Not only does this make it easier for i18n but it also allows me to use the converted value and the units separately. For instance, I might want to style my units differently from the value.

Again, this seems like

[2018-05-01 14:28] drewcovi opened #105 "Joules to BTU?"
Has there been any conversation on measurements of thermal energy?

[2018-05-07 14:42] jiminikiz commented on #103
Definitely sounds like a good idea

[2018-05-12 02:40] djensen47 commented on #103
I'll work on a PR soon-ish.

[2018-05-12 02:43] djensen47 opened #107 "Units that are industry specific as a plugin or similar"
Not everybody wants to convert specific gravity to balling to degrees plato ... but I do. Any thoughts on a plugin mechanism or at least a way to initialize my own units?

[2018-05-20 09:47] jimmykane opened #108 "Types are missing from published module on NPM"
Hi,

this https://github.com/ben-ng/convert-units/blob/master/lib/index.d.ts

is missing from the published module on NPM

[2018-06-06 23:40] fcpauldiaz opened #109 "hours and minutes"
is it possible to convert ms to hour: minutes? currently I only see the hour conversion (h)

[2018-06-08 13:57] elineopsommer commented on #107
@djensen47 you can also create a PR with those conversions, maybe there are others too which wants to convert that :)

[2018-06-08 16:26] elineopsommer opened #111 "Convert not found in angular test"
Running unit test for method which uses the convert, fails with message below:
`TypeError: undefined is not a constructor (evaluating 'convert_units_1.default(value)')`

Repro steps (with angular 6):

1. ng new testapp
2. npm install convert-units

paste below code in `app.component.ts`
[code]

Running by `ng serve` will output the result, but running the tests will throw above error.

When import

[2018-06-19 18:30] cmbasnett opened #113 "Add micrometers (μm) and nanometers (nm)"
At my job, we are working with digital camera components like CCD chips. For precise image calculations , we need to store the size of the individual digital pixel sensors on the CCD chip, measured in micrometers. We may also have need for nanometers in the future. I will make a pull request for this issue.

[2018-06-27 04:04] djensen47 commented on #107
The problem with some industry units is that they clash with other industry units; even within the same industry:

1 beer barrel = 31 gallons
1 Bordeux barrel = 59 gallons
1 Burgundy barrel = 60 gallons

and so on; thus a plugin system might be nice.

Just a thought.

But to your point SG, Plato, and balling are actually standard and a PR could make sense for those. 😄

[2018-07-17 13:37] elineopsommer commented on #111
@jiminikiz any updates on this? this is really blocking

[2018-07-18 16:53] vandammeb commented on #111
@jiminikiz having the same issue, any tips on how to get this working?

[2018-08-01 17:27] nicholasgcoles opened #118 "Unable to use toBest correctly"
Hello

Thanks for the great library!

I am trying to convert from Metric to imperial (ha to ac)

For some reason when I get all the metric options to exclude
[code]
And then try find the `toBest()` value
[code]

It keeps returning undefined but then as soon as I take one of the excluded options out (such as `mm2`) it returns a `toBest` of `mm2` and never does it include any of the imperial units?

[2018-08-29 09:01] Smiley01987 commented on #111
@jiminikiz Any news on this?

[2018-08-29 09:40] TryingToImprove commented on #111
How is it being imported? Normally you will need something like

[code]

at the top of the _app.component.ts_ file.

[2018-08-29 09:44] TryingToImprove commented on #111
For some reason this is failing;

Using

[code]

will work; see https://codesandbox.io/s/pm4o5mk48q -> _app/app.component.ts_

[2018-08-30 18:49] bstoots opened #125 "Support binary and decimal digital conversions"
Hello, I would like to add support for decimal digital conversions in addition to the existing binary conversions.  Decimal seems to be much more common when dealing with storage capacities.  Unfortunately it appears the current digital conversion definition is already using the base 10 / metric / decimal names and abbreviations but defining its calculation in base 2.

For example, currently 1 meg

[2018-09-26 20:14] ColoradoFlyer opened #128 "Nautical Miles are in the github length.js file, but not in the npm published version"
1 nautical mile = 1.1508 statute miles

[2018-09-26 20:16] ColoradoFlyer commented on #128
Whoops -- didn't dig deep enough in the code, sorry

[2018-10-10 05:00] willfarrell opened #129 "Definition: Mass Concentration"
Ability to convert between mass concentrations ie `ug/l` => `mg/l`

[2018-10-17 15:13] hdodov opened #131 "Import only a certain type of units"
If I want to convert between units of mass, it would be cool to be able to include only that functionality in order to avoid bloating the codebase when developing an SPA.

For example:
[code]

[2018-10-25 20:07] ColoradoFlyer commented on #128
OK, the published version does not include nautical miles; has to be added manually

[2018-11-17 20:36] tanase-sebastian commented on #131
Hello,
I am too interested in this feature.
Anyways, this is a pretty handy lib.
Thanks !

[2018-12-20 11:21] Skasi commented on #26
Miles per hour should be `mph` or `mi/h`.
`m/h` would be meters per hour.

[2018-12-31 11:51] theluk opened #137 "kilometers missing"
according to the docs, kilometers are missing.
Any plans to include them?

[2019-01-19 01:51] goelinsights commented on #111
Are you injecting the dependency anywhere? With tree shaking, the library may be getting shaken out on compilation without the dependency being injected

[2019-01-29 03:43] Grandmac commented on #137
https://github.com/ben-ng/convert-units/blob/d950cd139a0b17b6986e59d044f74c90a0ff70cd/lib/definitions/length.js#L26

You can use Kilometers

[2019-03-15 00:25] djensen47 opened #141 "Hectoliters PR?"
Hectoliters or hl is used in industry and it's simply 100L. Would it be alright if I submitted a pull request to add hl.

I also really would like to add barrels but oil barrels and beer barrels are different sizes.

[2019-03-17 18:37] TGamingStudio opened #143 "Missing units"
Hello, List of units is not updated, kilometers are missing in the list but convertion with kilometer works.
Also decimeters or decimeters squared miss
Thank you!

[2019-03-17 18:38] TGamingStudio commented on #137
You can use kilometers, but they are not in lists.

[2019-05-13 08:22] irfanbsse opened #146 "Bytes to KiloByte wrong conversion"
**Example:**
`console.log(convert(1024).from('B').toBest())`

It will output this ` { val: 1, unit: 'KB', singular: 'Kilobyte', plural: 'Kilobytes' }`

According to goolge unit conversion
![Screenshot from 2019-05-13 13-17-27](https://user-images.githubusercontent.com/50095929/57606163-c6ea8500-7581-11e9-80d5-a6328e1d6212.png)
![Screenshot from 2019-05-13 13-17-52](https://user-images.githubuserco

[2019-06-02 05:02] argentini opened #147 "Angular 7, Ionic 4?"
Any idea how I can get this working in Ionic 4 or Angular 7? It compiles, but my component explodes when I try to use convert(). The error doesn't indicate convert() as the culprit - it says something about the component itself not being found.

[2019-07-28 15:23] DukaN commented on #147
You should install (npm i convert-units) and import lib like that:
`import * as convertUnits from 'convert-units';`

And use it:
`convertUnits(source).from('m3').to('ft3');`

I hope it is helpful :)

[2019-07-28 23:44] evanrs commented on #108
As a stopgap you can install from github `npm i -s  ben-ng/convert-units#d950cd1`

[2019-08-12 14:42] developer669 opened #150 "nautical mile and fathoms (#96) - Nautical Miles are in the github length.js file, but not in the npm published version"
Hi, Thanks for the package very cool!
There is an issue according to commit **nautical mile and fathoms (#96)**
You have added nautical mile to be supported according to github but it is not published on NPM , so when I install the npm package on angular 7 the nMi (nautical mile) is not there (not supported yet).
Can someone help me with this ?

[2019-09-05 21:12] ColoradoFlyer commented on #150
It appears no one is maintaining this anymore -- I asked the same question a year ago.

We fixed it here by patching the file.  in our package.json file, we have:

  "scripts": {
    "patch": "patch -p1 < convert-units_Nmi.patch",
  }

And in convert-units_Nmi.patch we have:

--- ./node_modules/convert-units/lib/definitions/length.js	2018-01-04 11:44:46.000000000 -0700
+++ ./node_modules/convert-u

[2019-09-09 07:03] oba93 opened #151 "Could not find a declaration file for module 'convert-units'"
I have error inside vscode like this:

At the line:

`import * as convertUnits from 'convert-units';`

In the browser i have something like this:

If i try do something like this:

`const convert = require('convert-units');`

I getting this inside console:

Somebody has idea how to import this module correctly? I try npm install and other solutions found in google but nothing works.

[2019-09-11 17:52] ararog commented on #151
Add this to dependencies section of package.json:  `"convert-units": "github:ben-ng/convert-units"`

[2019-09-13 07:14] DerMika opened #152 "toBest() conversion does not work with negative numbers"
Hi,

I've noticed the `toBest()` method does not do what would be expected if you feed it a negative number.

I've built a repl to reproduce: https://repl.it/@DerMika/Reproduce-convert-units-issue

With a positive number:

    convert(6596848).from('W').toBest()

The result will be converted to MW as expected:

    { val: 6.596848,  unit: 'MW',  singular: 'Megawatt',  plural: 'Megawatts' }

But wi

[2019-09-17 17:27] NSWIDER opened #153 "Does not convert 9 meters to feet accuratly"
this library converts 9 meters to 96.8751

it should convert 9 meters to 96.8751999504

[2019-09-17 17:37] #153 closed

[2019-09-17 17:37] NSWIDER commented on #153
nm

[2019-09-30 20:19] kayleighbray commented on #151
@oba93 Looks like you're using Angular. Try adding `(window as any).global = window;` to your polyfills file, that worked for me

[2019-10-01 01:07] edgarjrg commented on #108
This is still an issue with @2.3.3 - 2.3.4

[2019-10-12 16:13] fariborzemami opened #156 "force units not working please update npm package to last version"
force convertion 'N' , 'lbf' , 'kN' make error in console and not working.

[2019-10-13 01:20] keli5 opened #157 "Power? (hp, ft-lb)"
It would be nice if horsepower and foot-pounds were included - not sure where these would fit. Thank you!

[2019-10-25 05:01] bstoots commented on #146
Hey there.  I ended up implementing the same conversion in my fork: https://github.com/bstoots/convert-units.  Feel free to check it out.

[2019-11-24 10:17] fariborzemami commented on #156
npm package is not update with latest version and have not force converter!

[2019-12-04 00:10] courdek commented on #153
@NSWIDER what happened? I'm also experiencing some weirdness converting meters to feet (and back), but in my case the issue is focused around multiples of 7 ft.

`7` Feet converts to `2.133599931724802` meters
and then
`2.133599931724802` meters converts to `6.9999999999999` feet

[2019-12-04 00:19] courdek commented on #153
nm

hahaha.

For posterity if anyone comes looking here, be sure to check whether or not you're using `ft` or `ft-us`

[2020-01-20 13:19] markamccorkle commented on #147
@argentini Did you ever get this working? Same issue here, just bombs out when you actually try to use convertUnits. Simply importing the component works fine until you actually try to use it.
(eg)
[code]

[2020-01-20 15:32] argentini commented on #147
I have not tried it. Converted my codebase to Xamarin.

M.

On Mon, Jan 20, 2020 at 8:19 AM, MM <notifications@github.com> wrote:
@argentini [https://github.com/argentini] Did you ever get this working? Same issue here, just bombs out when you actually try to use convertUnits. Simply importing the component works fine until you actually try to use it.
(eg)

import * as convertUnits from 'convert-u

[2020-02-18 09:36] makroxyz opened #160 "Please merge pull requests"

[2020-02-20 12:35] markusand commented on #109
Actually it's quite confusing to see 1.25h and having to interpret it as 1h15min. Same as having 1.8h

[2020-02-20 17:52] sethdorris opened #161 "back and forth conversions eventually result to 0"
Seems to be a rounding issue with the code that results in decreasing rounding all the way back to 0;

For instance

convert 4m to inches results in =157.48032inches
convert 157.48032inches back to meters results in 3.987799872390404m
convert 3.987799872390404m back to inches results in 118.11024inches

obviously this happens until you convert back and forth until you get a 0.

[2020-03-05 13:28] quazZzar opened #162 "How do I use FT (5'11'') to meters?"
Can anyone give me an example of this type of conversion?
Not an issue but it's very hard to find something about this specific library on google.
Thanks a lot!

[2020-03-24 07:43] emmkimme commented on #151
the file lib/index.d.ts is not shipped in the package. It is why, typescript import does not work.
Would appreciate if a new package is generated with this file.
Thanks

[2020-04-12 15:20] remisture commented on #162
I'm looking for the same.

[2020-04-30 11:22] EricWiener commented on #151
I think you can just install from https://www.npmjs.com/package/@types/convert-units.

[2020-05-05 08:01] emmkimme commented on #151
Sorry, I was not clear, the @types d.ts implied to activate a 'esModuleInterop' flag as it is not compliant with es6 modules spec.

Would be better to review the api and shipped new definitions directly from package. Understand it is not a priority but just more comfortable for TS developers.

[2020-05-23 20:37] alvitawa commented on #160
I feel like at this point someone should just take over.

[2020-06-03 20:51] drewmperkins commented on #147
Angular 9, this worked for me.

But I did have to add the following line to my polyfills.ts.
(window as any).global = window;

Thanks DukaN

[2020-07-22 19:56] jacobq commented on #162
This library is designed to work with simple/scalar units (vs. complex/vector units). However, you can write a helper function to work with combined units like this:
https://runkit.com/jacobq/5f189970a98dd9001a144727
[code]

[2020-07-27 05:27] cchamikara commented on #83
@jiminikiz I've already did this conversion, if you can advice me to which unit group should this conversion goes I can create a PR right away

[2020-07-31 06:51] zanona opened #166 "add support to `toLocale()`"
It would be great if support for converting to a specific locale could be added, like:

[code]

we could also have no arguments being passed which, in a browser environment, could fallback to `navigator.language`:

[code]

[2021-01-17 22:40] Eomm commented on #160
I have revamped the project as [@eomm/convert-units](https://github.com/Eomm/convert-units#readme) and I will take care of this nice project.

I don't think `js-quantities` fits the same usage as this module

[2021-01-30 23:15] SamuelPoulin opened #170 "Cannot import types in Typescript definitions"
I have a function that returns a bunch of select menuitem choices from the possibilities of a conversion:
[code]

I'm getting an error because type implicitely has the any type. When trying to import the 'measure' type that's declared in the @types/convert-units package, my IDE cannot do so because the types aren't exported. What can I do about this?

[2021-02-11 14:30] Taar opened #171 "New Maintainer"
Hello folks, my name is Randy! I'm introducing myself today because @ben-ng has passed on the role of maintainer for this project to me. Before I go into more details, I would first like to thank @ben-ng for all the work he's put into this project and for giving me this opportunity to give back to the community! I look forward to working with all the contributors of this project! Thanks!

## Immed

[2021-02-20 18:24] Taar commented on #160
Reviewing PRs now! It's going to take me a while to get through everything so please be patient! If you have an outstanding PR, please merge it with the master branch and run ESLint, prettier, and the tests.

[2021-02-20 18:41] Taar commented on #156
Is this still an issue? If so, can you provide the error trace back and the version you're using?

[2021-02-24 10:00] dmbarry86 commented on #171
This is good to see. When do you expect to have everything in order and to start reviewing pull requests? I ask because I am interested in using this library for a project but I will need to add some additional conversions. Some of these are covered by existing pull requests and some are not so I would need to create them.

[2021-02-24 19:51] Taar commented on #171
@dmbarry86 I've completed the immediate goals listed above and started reviewing pull requests, though, it's going to take some time to review them all. At this time I recommend creating a PR with all of the conversions you want supported regardless of whether or not they are cover by another PR. I recommend this because there is no guarantee that the authors of outstanding PRs will respond to my

[2021-03-30 15:19] JoeEarly opened #173 "Question on rounding"
Is there a way to limit how many decimal places a conversion is limited to ?

[2021-03-30 16:03] Taar commented on #173
There is direct no support for rounding conversions. I recommend passing the result of the conversion to one of the following: [`_.round`](https://docs-lodash.com/v4/round/), [`Number.toFixed`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toFixed) or [`Number.toPrecision`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Nu

[2021-03-31 06:01] whizyrel commented on #157
It would fit in [here](https://github.com/Brenopms/convert-units/blob/367eec5449b4b51c13d14a295765f90dbbaf971e/lib/definitions/power.js#L39) for Horsepower. Something like this, I think:
[code]
I would really appreciate it if you can implement this and go through with a PR @keli5. Thank you

[2021-04-15 21:22] heisser-jimenez opened #174 "toBest for an specific measure"
How I can get the best unit for a specified measure ?. I would like to be able to do this:

[code]

So this should return ml or whatever it considers the best unit but only for the volume measure. instead of doing:

[code]

Please let me know if that makes sense to you!.

[2021-04-19 21:05] Taar commented on #174
Thanks for the question! I'm not sure I'm completely following the question.

For your first code snippet, if `toBest()` is called without any arguments, it'll return `kl` with a value of `1`. `toBest` will not return a unit outside of the measure passed to `from()`. With that said, `convert(1000).from('l')` scopes future calls to the `volume` measure and the system (which in this case is `Metric`

[2021-04-28 20:40] oke007 opened #177 "Getting TypeError: convert_units__WEBPACK_IMPORTED_MODULE_7__ is not a function"
Hi, I am getting this error when using convert-units in angular 11

[code]

**Package.json file:**

  "dependencies": {
    "@angular/common": "~11.2.0",
    "@angular/core": "~11.2.0",
    "@angular/forms": "~11.2.0",
    "@angular/platform-browser": "~11.2.0",
    "@angular/platform-browser-dynamic": "~11.2.0",
    "@angular/router": "~11.2.0",
    "@capacitor-community/admob": "^1.3.2",
    "@c

[2021-04-29 21:46] Taar commented on #177
I don't think this is an issue with this library. From the error you've provided, I would guess that webpack isn't importing the convert-units correctly. I recommend looking over your projects webpack config, the import statement you're using to import convert-units, and turning on source maps (through webpack) which will give you a better idea of what is going on. Maybe [this stack overflow post]

[2021-04-29 21:46] #177 closed

[2021-04-30 19:02] Taar commented on #173
Closing this issue since it's been a month without a reply.

[2021-05-03 22:17] daniell0gda opened #178 "named export"
Hello, I very like this module. Thank you for supporting it.

I am trying to make tests using
- @open-wc
- karmajs
- stenciljs

Now I am facing issue with default export.

     Chrome Headless 90.0.4430.93 (Windows 10) ERROR
       Uncaught SyntaxError: The requested module '../../../../node_modules/convert-units/lib/index.js' does not provide an export      named 'default'
       at src/global/he

[2021-05-05 14:08] Taar commented on #178
My guess is that it's an issue with how the import is structured. I recommend importing the module using this syntax, `const convert = require('convert-units');`. [This post](https://stackoverflow.com/questions/29596714/new-es6-syntax-for-importing-commonjs-amd-modules-i-e-import-foo-require) should provide some insight into the issue and provide a few alternatives to my recommendation.

[2021-05-06 11:06] dmbarry86 opened #179 "Mechanism to plugin custom units/measures"
I was wondering if you would consider a feature to provide the ability for users to be able to plugin their own custom units or measures at runtime from within their own codebase. This could be through some custom object or code which somehow gets hooked in to the main package. I've not given too much thought to implementation details yet and just wanted to gather opinion first.

I see a few benef

[2021-05-06 14:46] Taar commented on #179
Thanks for bring this up! I agree 100%! See my thoughts and comments below (thinking aloud):

- This would require a new version `v3` as there will be breaking changes
- Would some of the current features would become obsolete? For example, would `convert().measures()` still be useful if you're now explicitly setting the supported measures?
- Detached measurements would allow for smaller packages

[2021-05-06 17:40] dmbarry86 commented on #179
This all sounds good to me. I hadn't considered being able to remove measures as well but that's a good idea and I can see benefit. I'm happy to help with implementation of this feature.

Regarding your todo list. If you need any support with the test suite then I'm happy to help. I'm afraid I don't have too much Typescript experience so can't help there.

[2021-05-06 18:15] Taar opened #180 "Upgrade Test Runner"
I believe this project would benefit from using a more modern test runner.

Requirements the test runner should support:
- Test coverage
- Features that make writing new tests easier (eg. watch mode, good docs, etc)
- Async test execution (Maybe this is more of a "nice-to-have" thing?)
- Typescript support

I've used [AVA](https://github.com/avajs/ava) is the past and I think it would be a good fi

[2021-05-06 18:16] Taar commented on #179
Great! Would you be able to tackle #180 then? @dmbarry86

[2021-05-06 18:21] dmbarry86 commented on #179
Yeah sure thing.

[2021-05-06 18:32] Taar opened #181 "Better Typescript Support"
I don't want this project to rely on a `@types` package to support Typescript. Also, Typescript can offer this project a couple development quality improvements moving forward. However, moving the code base straight to Typescript would require a lot of work. Therefore, I think it would be better to use Typescript's type system to help make developing and maintaining features before considering usi

[2021-05-06 19:37] dmbarry86 commented on #180
How set are you on using AVA here? My normal go to would be Jest and I think it handles your requirements but I'm happy to use AVA if you would prefer.

[2021-05-06 19:58] Taar commented on #180
@dmbarry86 Sure! Let's go with Jest. Ultimately, you're the one doing the work on this. Therefore, I think it would be beneficial to the project if the tool you're implementing is something you're familiar with. Also from a personal note, I'm very happy to have the opportunity to learn a new testing tool 😄

[2021-05-11 13:05] #180 closed

[2021-05-11 13:12] Taar opened #184 "Exclude files from npm package"
Documentation on this can be found [here](https://npm.github.io/publishing-pkgs-docs/publishing/the-npmignore-file.html).

Need to add a `.npmignore` file to exclude all `.` files and tests from the package published to npm.

[2021-05-11 13:19] Taar commented on #184
@dmbarry86 Would you be able to look this over for me? Just want to make sure that I'm not doing anything crazy.

[2021-05-11 13:28] dmbarry86 commented on #184
Sure thing, I'll take a look. I did notice when I was doing the test runner work that currently the tests get shipped with the code. I kept that behaviour in my branch. I probably should have confirmed it in the PR though.

[2021-05-11 17:41] Taar commented on #181
Note: This should also include better documentation around how to configure Typescript to use the type definition file that's shipped with the package (through npm).

[2021-05-16 18:36] slim-abid opened #187 "Adding the package with unpkg cdn"
I was struggling with adding the package with unpkg cdn through
`<script src="https://unpkg.com/convert-units@2.3.4/lib/index.js"></script>`
Is there a possibility to enhance this package capability to be added this way ?
This would really help!

[2021-05-18 03:58] Taar commented on #187
From unpkg's website:

I plan to do exactly this for version 3 and beyond! Also while supporting other module systems as well.

[2021-05-21 15:43] Taar commented on #181
After reviewing the code base and weighing the options, it made the most sense to move right to Typescript. This allowed for the removal of the projects only dependencies, lodash `key` and `each`. Also removed the need to manually update a type definition file as typescript will generate these files automatically.

Babel could have been used with jsdocs but I felt that not having to maintain jsdoc

[2021-05-21 15:45] #181 closed

[2021-05-21 15:45] #187 closed

[2021-05-21 16:02] #160 closed

[2021-05-21 16:02] #143 closed

[2021-05-21 16:04] Taar commented on #103
The project going forward will be dependency free.

[2021-05-21 16:04] #103 closed

[2021-05-21 16:05] #137 closed

[2021-05-21 16:08] Taar commented on #131
This will be supported in version 3 of the library.

[2021-05-21 16:08] #141 closed

[2021-05-21 16:09] #129 closed

[2021-05-21 16:09] #105 closed

[2021-05-21 16:13] #95 closed

[2021-05-21 16:15] Taar commented on #98
This is supported through `describe`

[code]

[2021-05-21 16:15] #98 closed

[2021-05-24 09:17] maneetgoyal opened #191 "Use of "system" property"
In various files in `src/definitions`, we have:

[code]

It feels like the library is support 2 systems of units. ✅

But in some files, I am seeing this pattern is not followed. The files are:

- [ ] angle
- [ ] apparentPower
- [ ] charge
- [ ] current
- [ ] digital
- [ ] energy
- [ ] force
- [ ] frequency
- [ ] pieces
- [ ] power
- [ ] reactiveEnergy
- [ ] reactivePower
- [ ] time
- [ ] voltage

[2021-05-24 09:42] maneetgoyal commented on #161
Not really observing the issue in the current `main` branch.

Tested via:

[code]

[code]

[2021-05-24 09:53] dmbarry86 commented on #161
I don't see this issue either. I have a small calculator app in one of my apps that uses this library and it seems to be just fine.

![image](https://user-images.githubusercontent.com/8976377/119330518-3077f080-bc7e-11eb-9287-ec509efcc4e3.png)

![image](https://user-images.githubusercontent.com/8976377/119330555-3968c200-bc7e-11eb-8a45-390273f939a6.png)

Maybe you could share some example code tha

[2021-05-25 14:05] Taar commented on #191
Thanks for bringing this up! The short answer is yes, it's a mistake, one that I didn't realize I was making. A lot of the measures need to be updated to match the systems they truly belong too. For example, [Watt](https://en.m.wikipedia.org/wiki/Watt) belongs to the [International system of units](https://en.m.wikipedia.org/wiki/International_System_of_Units) which is considered the modern versio

[2021-05-25 14:11] dmbarry86 commented on #191
Might be worth extending the test suite to cover this as well so we can keep on track of it going forward.

[2021-05-26 02:31] maneetgoyal commented on #191
I believe both SI or Metric are okay. But looking at the source code, SI isn't used anywhere yet.

Since it may need some refactoring, I wanted to make a small suggestion. It might be better to classify the existing units into only either `metric` or `imperial` at first. Not sure if this library can support more than 2 systems currently as per this [issue](https://github.com/convert-units/convert-

[2021-05-26 02:57] maneetgoyal commented on #56
Looking into `index.ts`, currently we are defining new units as:

[code]

A file supporting 2 different unit system looks like (from `length.ts`):

[code]

In the `anchors` property we are needing to specify the `ratio` that'll probably help us move from 1 system to another. Does this mean that if we introduce `n` unit systems, we will need to specify `n*(n-1)` conversion ratio for each of the sys

[2021-05-26 16:07] Taar commented on #179
@dmbarry86 Can you take a look at the linked PR and let me know what you think? #194

[2021-05-26 19:01] #157 closed

[2021-05-26 19:02] #113 closed

[2021-05-27 05:47] maneetgoyal commented on #83
We may need a new definition, **concentration** to handle all mass per unit volume scenarios. Perhaps **density** measures should also go into the same file.

Seems like different variants of `concentration` are possible:

1. Mass/Mass

- [ ] wt%
- [ ] wt ppm
- [ ] kg/kg Ⓜ️
- [ ] g/kg Ⓜ️
- [ ] mg/kg Ⓜ️

2. Mass/volume
- [ ] lbm/bbl
- [ ] g/US gal
- [ ] g/UK gal
- [ ] lbm/1000 US gal
- [ ] lbm/1000

[2021-05-27 05:52] maneetgoyal commented on #80
Noticed that these Swedish units may be wrongly placed **alongside the metric units** inside the `definitions/volume.ts` file.

[code]

Should they be moved to a new system of units instead?

[2021-05-27 05:55] maneetgoyal commented on #80
Also should these units to be used via a custom plugin (#194) instead (if they seem less popular)?

[2021-05-27 07:09] dmbarry86 commented on #179
Will do @Taar

[2021-05-27 14:39] #26 closed

[2021-05-27 18:38] Taar commented on #56
I think this would work well:

[code]

A three system measure would like something like this:

[code]

The desired result is this:

[code]

The thing to note here is that the ratios in the `anchors` object are used to convert the origin system base unit to the base unit of the destination system.

[code]

I think this is the simplest solution and it provides the opportunity to support systems othe

[2021-05-27 18:58] Taar commented on #191
Currently any system name is support as long as there are only two systems per measure. See [length](https://github.com/convert-units/convert-units/blob/main/src/definitions/length.ts#L100) and [digital](https://github.com/convert-units/convert-units/blob/main/src/definitions/digital.ts#L78). Which is why you're seeing `system: 'power'` when calling `describe`.

I think this just requires some res

[2021-06-01 08:04] dmbarry86 commented on #179
I'll go through this today @Taar. Sorry for the short delay, it's been a long bank holiday weekend in the UK so I've been AFK for a few days.

[2021-06-01 12:20] Taar commented on #179
No worries at all! I hope your weekend was enjoyable and relaxing 😄

[2021-06-03 11:01] nsaubi commented on #109
Here it even seems that 1.1 h is converted to 66.000000001 min for us.

[2021-06-03 11:12] nsaubi commented on #109
Ok related to 1/10 values not being defined as a finite binary fraction
https://stackoverflow.com/questions/1458633/how-to-deal-with-floating-point-number-precision-in-javascript

[2021-06-07 15:10] #179 closed

[2021-06-07 15:35] Taar commented on #187
Hey @slim-abid ! Would you be able to try `https://unpkg.com/convert-units@3.0.0-beta.0/lib/umd/index.js` and let me know if it works for your use case?

[2021-06-07 15:52] Taar opened #196 "Testers wanted for v3.0.0 beta version"
First off, I would like to thank everyone that has contributed to the new beta release! Thank you so much, you're all the best! 😄

Now that the v3.0.0 beta version has been [released to npm](https://www.npmjs.com/package/convert-units/v/3.0.0-beta.0), I need help testing it out in the real world!

To install the beta version you can run the following command:

    npm install convert-units@beta --

[2021-06-08 09:26] snowinmars commented on #196
Yep, here we are.
I'm using the beta version for custom measures support in angular11 tytpescript4 pixijs monitoring project.

So, if I install the beta `convert-units` package
[code]

I will not be able to compile a hello world sample
[code]

Installation of the `@types/convert-units@latest` package does not fix this, and there's no `@beta` tag for the package.

But if I downgrade to `convert-uni

[2021-06-08 09:37] snowinmars commented on #196
Hi. I'm using the beta package in angular11 typescript 4 monitoring project for custom measurements support.

Docs issues I found:

1. On https://www.npmjs.com/package/convert-units/v/3.0.0-beta.0 `npm install convert-units@next`should be replaced with `npm install convert-units@beta`

2. Instead of
[code]

it should be
[code]

[2021-06-09 01:15] Taar commented on #196
@snowinmars Thanks for posting! You're comments has helped me identify some issues with the current package that's deployed to npm.

Before I go into details, I'll address your comments and questions:

1. This is a mistake, I've updated the README in the `main` branch therefore the next beta version will have this corrected (on npm)
2. Thanks for pointing that typo. I've also come to realize that

[2021-06-09 22:42] Taar commented on #196
Could I get some eyes on #197 ? @dmbarry86

I also pushed up an [experimental branch](https://github.com/convert-units/convert-units/tree/better_measure_system) which should resolve #191 and #56. Note that it's based on #197. It introduces a better measure structure which supports more than 2 systems and the systems can be named anything. It also introduces a way to inform the TS LS about the meas

[2021-06-11 09:32] snowinmars commented on #196
@Tarr, 6: sure. My tsconfigs: https://pastebin.com/6N6kub7t , I'm using `typescript 4.0.3`.

The angular build completes successfully, btw, but my `Rider 2021.1.3` shows the error: https://youtu.be/G8-tUVSaOLQ It looks really weird.

I'm not able to reproduce the issue on a clean repository, so it's something about my settings.

[2021-06-12 13:49] Korkman opened #200 "v3.0.0: esm lib definitions/index.js does not import in browsers"
The import statements in definitions/index.js are missing the *.js file extension, which is required for browsers. If it doesn't break any use cases, please add them!

[2021-06-12 13:49] laznic commented on #196
Hey, I'm using `convert-units` in my project where I'm storing all values for product inventory levels and prices as fractions (e.g. cents for prices, g instead of kg, etc.), so this library makes it pretty smooth to convert & display the values in the UI.

However, I just found this one thing when I was playing around with different units, and I'm not sure if this is a problem with the 3.0.0 beta

[2021-06-12 13:59] Taar commented on #200
Thanks for reporting this, I'll look into the issue.

[2021-06-12 14:52] Taar commented on #196
@laznic Thanks for posting!

Are you using the beta version?

Ok, so, the root of your problem appears to be that you expect `t` to be Metric Tonnes not `mt`?

I've looked around add it appears that both the [imperial ton](https://en.wikipedia.org/wiki/Ton) and [metric tonne](https://en.wikipedia.org/wiki/Tonne) uses the same abbreviation of `t`. However, the abbreviation of `mt` is commonly used

[2021-06-12 15:02] Taar commented on #196
@snowinmars I'm not sure what the issue is. Though, the `Convert` class is supposed to be private and shouldn't be directly used. Maybe this [post](https://stackoverflow.com/questions/56238356/understanding-esmoduleinterop-in-tsconfig-file) could provide some insight?

[2021-06-12 15:05] laznic commented on #196
Yes, using `3.0.0-beta.0`.

This makes sense! The problem seems to be in my head rather than the library 😄 Thank you for the prompt reply!

[2021-06-15 11:04] snowinmars commented on #196
@Taar , hm, `Convertor` supposed to be private. But what about `convertFactory`?

If I'm able to write
[code]

I should be able to write
[code]

When I change the node_modules source from `declare type convertFactory = (value?: number) => Converter;` to `export type convertFactory = (value?: number) => Converter;`, the error goes away.

I attached my tsconfigs above, and I have `"allowSyntheticDef

[2021-06-15 14:32] Taar commented on #196
I believe this issue is resolved in the latest code changes which will be part of the next beta release.

[2021-06-15 16:00] jgadbois commented on #151
I'm also getting the `ReferenceError: global is not defined` on version 2.3.4 inside an Ember application.  I'm including as specified in the docs

[code]

The error appears to be coming from lodash.

[2021-06-15 17:01] Taar commented on #151
If you're using version 2.3.4, you'll need to refer to it's [documentation](https://www.npmjs.com/package/convert-units/v/2.3.4). Support for the import snippet above has not yet been released to npm.

[2021-06-15 17:07] jgadbois commented on #151
I get the same error with

`import convert from 'convert-units';`

And

`var convert = require('convert-units')`

[2021-06-30 20:33] dmbarry86 commented on #107
@Taar I think this can be closed now with the recent changes as part of V3 which allow users to plugin their own custom units.

[2021-06-30 21:12] #107 closed

[2021-07-01 09:17] panbanda commented on #178
I am seeing the same thing with my TS project.  I am just using various examples of the migration:

[code]

And I am getting these errors:
- Default export of the module has or is using private name 'Converter'.
- Exported variable 'convert' has or is using name 'Converter' from external module but cannot be named.

I think my scenario may be slightly different or maybe exporting the Converter fro

[2021-07-01 12:50] Taar commented on #178
@panbanda Would you be able to provide your tsconfig, which version of `convert-units` you're using, and any other relevant information?

I have not been successful in reproducing this issue with the current beta release (`3.0.0-beta.1`).

[2021-07-01 13:00] panbanda commented on #178
I tried re-creating the repo and realized the `beta.1` is now working for me.  I just realized I used the tag not the @beta.  Sorry bout that.

[2021-07-03 07:32] panbanda commented on #178
Actually @Taar I was able to reproduce it again.  I made a repo repo:

https://github.com/panbanda/fix-convert-units-3.0-beta

If you look at `src/lib/convert.ts` there are the TS errors:

Default export of the module has or is using private name 'Converter'.
Exported variable 'convert' has or is using name 'Converter' from external module but cannot be named.

I am using

[2021-07-03 14:37] Taar commented on #178
@panbanda Thanks for all the example! The repo didn't include a typescript version but that didn't seem to matter. I installed the latest version of typescript and was able to reproduce the issue. I've already merged the fix and published a fix under `3.0.0-beta.2`. Please let me know if the error goes away and I'll close this issue.

[2021-07-03 15:12] panbanda commented on #178
Nice! You're fast. I'll check it out in a bit. Thanks

[2021-07-06 07:50] snowinmars commented on #196
In `3.0.0-beta.2`: issues from [comment 856620350](https://github.com/convert-units/convert-units/issues/196#issuecomment-856620350) and [comment 861405040](https://github.com/convert-units/convert-units/issues/196#issuecomment-861405040) are resolved.

Thank you a lot, it's awesome)

[2021-07-07 06:53] panbanda commented on #178
Verified.  Good to go!

[2021-07-07 17:57] snowinmars opened #204 "Bigint support"
It's a discussion: how to support `bigint` as well as `number`?

Current state:
- `convert(90071992547409910000).from('km').to('m')` won't work *properly* due to js max safe integer restriction,
- `convert(90071992547409910000n).from('km').to('m')` returns zero.

I see two approaches:
- create a second builder, maybe as separate npm package: `convertBigint(value: bigint): BigintConverter<TMeasures

[2021-07-10 13:54] #178 closed

[2021-07-14 14:56] Taar commented on #204
While I see the benefits in supporting something like this, unfortunately I don't think it's worth adding to the project at this time. See my reasoning/explanation below.

This would definitely need to be a separate package as it's likely that a third party package will be required to support `bigint`. I say this because `bigint` is an integer type, which means it [does not support decimals](https

[2021-07-28 16:51] nsaubi-swi opened #205 "Add the "include" option (counterpart of exclude)"
As the lib do provide an exclude option to remove some of the units from a list, it would be nice to have the opposite with an include option.
Case is when you only want 3 units from a large list, it's easier to say what you want to keep, than saying all that you don't want.

I think we will implement it in our local version of convert-units, we could do a PR here if you're interested.

[2021-07-28 16:55] nsaubi-swi opened #206 "add shortcuts support"
Today when we want to have a shortcut for an unit, we just add it in the unit list.
E.g. :
time.js :
`day : {
   ...
}, d: {
  //same as day
}`
It would be nice to have a better way to add shortcuts to an unit, which should be accessible so we can display the information to the end user (using describe() by example)

[2021-07-29 13:55] Taar commented on #206
A feature like this is implemented in the beta version by defining a custom measure or extending an existing measure. No more need to directly modify the source code. Please note that the documentation on this is still a work in progress. Though, feel free to keep any questions you have here about creating or modifying measures.

[2021-07-29 17:07] Taar commented on #205
Are you referring to the `exclude` option for `toBest`? So you'd like an `include` option for `toBest` as well? I am open to the idea of implementing a feature like this in the future. The code sample below (derived from the current beta build though it should work with the current stable build) shows how with could be achieved without needing to change the libraries code:

[code]

[2021-08-01 18:50] mebeingken commented on #187
@Taar Thanks for your work on this!

I have convert-units (v2) working on the server side of a node project, but need to also use on the client.

After installing beta2, I have loaded the script on my page:

`<script src="/js/convert-units/lib/umd/index.js"></script>`

But I don't know where to go from here...Can you provide any guidance?

[2021-08-02 20:22] raquelmsmith commented on #98
This only works if you have the abbreviated unit. I'd like to be able to look up by the singular or plural unit.

[2021-08-04 15:57] Taar commented on #187
I recommend reading up on what [UMD](https://github.com/umdjs/umd) is and how it works. I also recommend using something like [webpack](https://webpack.js.org/) or [rollupjs](https://www.rollupjs.org/guide/en/) to help with managing dependencies used by your front-end code.

[2021-08-04 16:30] Taar commented on #98
In what case wouldn't you know what the abbreviated unit is? Is it because the user is searching for a measure?

I definitely misunderstood the original feature request - sorry about that. However, after some thought, I believe this feature does not fit within the scope of this project. If the singular and plural values are already known, wouldn't it be possible to map them to the abbreviated unit

[2021-08-04 17:09] slim-abid commented on #187
Thank you @Taar for the great work! and sorry also for the late response,
I will surely try it on my app since I've been implementing another solution last time due to time constraints.

[2021-08-04 19:10] matmar10 commented on #98
@Taar  This was already fixed by this PR along with unit test coverage:

https://github.com/convert-units/convert-units/pull/99/files#diff-92bbac9a308cd5fcf9db165841f2d90ce981baddcb2b1e26cfff170929af3bd1

The metadata already exists for this. It's just a matter of adding a simple accessor function.

[2021-08-04 20:13] raquelmsmith commented on #98
My data source doesn't provide abbreviated units. Additionally, unit abbreviations are not always consistent. Tablespoons, for instance, can be abbreviated as `tbsp`, `tbs`, `tbsps`, or `tb` (plus capitalization!).

Yes, i can store all the units in an array then filter through that but it's not very elegant. That's what I'm doing now though!

If anything it seems like this library should use the

[2021-08-04 20:41] matmar10 commented on #98
@raquelmsmith I've created a 2.x branch that incorporates PRs that add the feature you're looking for. It's available here:
https://github.com/matmar10/convert-units

It seems the entire project has been migrated TS with a new directory structure hence the original PRs I raised 3 years ago are no longer workable for a seamless merge:
https://github.com/convert-units/convert-units/pulls?q=is%3Apr+a

[2021-08-05 05:28] Taar commented on #98
Even if a PR has unit tests, follows all contribution guidelines, and passes any other project requirements, that doesn't mean the maintainers of the project have to accept the PR.

[2021-08-05 05:57] Taar commented on #98
In version 3 (current beta) this problem can be solved by defining custom measure with an abbreviation that better suits the needs of your application. It's also possible to extend the measures that ship with the library as well.

Can you provide more details? Maybe I can help figure out a different solution that's a bit more elegant. However, do note that some solutions might only be possible if

[2021-08-19 20:20] ntutchton commented on #111
A solution using InjectionTokens for others who might be running into this issue:
[code]

Then `ConversionService.convert(...)` can be called from angular components just as it is in the convert-units docs

[2021-08-22 16:48] patricksurry opened #211 "Automatically derive compound units?"
Has anyone looked at supporting a simple algebra for compound units?

For example, once we know how to convert from feet => kilometers and hours => seconds, we can automatically work out how to convert from ft/sec => km/hour, and avoid implementing all those combinations separately.

Seems like it would require writing compound unit explicitly (or at least know that kph is an abbreviation for km /

[2021-08-22 18:30] patricksurry opened #212 "US vs UK imperial gallon?"
Seems like 'gal' is currently defined as the US gallon, as opposed to the actual imperial gallon (4.54609 liters).  Should there be a separate gal-uk and/or gal-us ?

[2021-08-22 23:55] patricksurry commented on #200
As a workaround I did `npm i @web/dev-server` and then `npx wds --node-resolve --watch --open` so I could follow imports like below in an HTML page without bundling via rollup or whatever:

[code]

[2021-08-23 06:17] dmbarry86 commented on #211
I'm not sure this would actually save that much code or improve the library. You would still need to add each of the definitions since the library would need to know and so the only real thing you save would be the one line where you define the conversion factor. It could actually end up increasing the footprint of the library with additional code that would be required for parsing mathematical op

[2021-08-23 14:21] patricksurry commented on #211
I was imagining something like what [math.js units](https://mathjs.org/docs/datatypes/units.html) does.   e.g. once you had defined length units like {m, nm, km, ft, mi} and time units like {s, min, hr} then you wouldn't need explicit definitions for most of the speed units in speed.ts:  converting from m/s to mi/hr is calculated by dividing the conversion for m => mi by that from s => hr.

that s

[2021-08-24 18:41] Taar commented on #211
I agree with this. At this current moment, I don't want to add anymore complexity to the project.

If that's something you need then wouldn't you just use `math.js`? I am missing something? Aliases are indirectly supported in the beta version by modifying the unit's definition or by using a mapper.

[2021-08-24 18:52] Taar commented on #212
At this time, I don't want to change the current names of any of the units because it would interfere with some of the users' projects. However, with the ability too add in additional units in the beta version, folks have the ability to modify, extend, and add their own units. Therefore, as of right now, my recommendation is to add `gal-uk` unit to the desired measure by extending the definition o

[2021-09-08 06:50] nsaubi commented on #152
And if I can add, when you do a convert toBest with the 0 value, it will return the smallest unit possible.
convert(0).from('s').toBest() // 0 ns

I would have expected to get the result in the to_anchor : 1 unit (here, in seconds) without having to tweak our code

[2021-09-18 23:56] tomaszkunicki opened #213 "Support for data transfer speed is missing"
These are missing important digital units

**bps** - Bits per second
**Bps** - Bytes per second

[2021-09-20 05:51] serdaryesilmurat commented on #204
We have a similar issue in our project for time conversions as well. For instance, 1 second becomes 999999999,9999999 ns after the conversion. If this library does not aim for scientific usage or being as accurate as possible, I guess you may skip this issue :pensive:

[2021-09-22 13:42] Taar commented on #213
The beta version supports adding in additional units. Otherwise, I recommend submitting a PR to include them as one of the units that ships with the library.

[2021-10-06 04:26] steakscience commented on #80
krm is not matsked, it should be something else

see:
<img width="381" alt="image" src="https://user-images.githubusercontent.com/2727095/136140593-e1a8eb67-54ea-4d43-8b51-96ff1a6a6298.png">

[2021-10-08 20:08] Taar opened #216 "Update `to_anchor` ratios to use scienfitic notation where possible"
I talked about the problem here: https://github.com/convert-units/convert-units/issues/204#issuecomment-939082014

I think it's worth updating all the units to use scientific notation where possible since it helps to dodge the floating point error problem.

Here's a small code snippet that highlights the issue:

[code]

[2021-10-13 12:00] nbren007 opened #217 "String not assignment to parameter of Type AllMeasureUnits"
I'm using convert(temp).from('C').to('F'); which works fine until I try and set the values dynamically.

I want my system variables to dictate the To unit, but I get the message: "string not assignment to parameter of Type AllMeasureUnits" so can't compile.

var toUnit = 'F';
var temp = 32; //actual value fetched from database.
var convertedTemp = convert(temp).from('C').to(toUnit);

Seems to me t

[2021-10-28 00:19] Taar opened #219 "`toBest` returns an incorrect result"
If no best conversion has been chosen, the first result will be chosen even if it's less than the `cutOffNumber` (the default is 1).

First reported in this PR #218

I've found one possible solution, it's location on the `toBest_fix` branch found [here](https://github.com/convert-units/convert-units/blob/toBest_fix/src/convert.ts#L219). I also developed a test case that tests specifically for this

[2021-11-04 16:36] Mr-Jami opened #220 "Cant convert from 'kg' to 't'"
Hey,
I tried to convert 1000kg to tons but somehow I got 1.10231

Is there a reason why it is not supported to convert from kg to tons properly?

[2021-11-04 17:10] Taar commented on #220
Could the issue be that you're converting [`kg`](https://github.com/convert-units/convert-units/blob/main/src/definitions/mass.ts#L30) to [`t`](https://github.com/convert-units/convert-units/blob/main/src/definitions/mass.ts#L61) but what you meant to do is to convert [`kg`](https://github.com/convert-units/convert-units/blob/main/src/definitions/mass.ts#L30) to [`mt`](https://github.com/convert-u

[2021-11-07 01:04] ZengLawrence opened #221 "Needs to specify types for configureMeasurements if configure more than 2 measures"
I got a Typescript syntax error for following code similar to what is in the readme page

[code]

Syntax error:
[code]

Typescript compiler seemed to be confused with generic types in this closure and could not figure out what went with what.  All three types `TMeasures`, `TSystems` and `TUnits` were linked.  It would not make sense to mix and match them.

Here is the work-around that got rid of t

[2021-11-08 15:37] Taar commented on #221
You'll get this error if you have `strict` set to `true` in the `tsconfig.json` file:

[code]

The issue here is that typescript doesn't like that the units for both measures are being merged into a single unit type. To help illustrate the issue, take a look at the code snippet below:

[code]

So obviously converting `cm3` to `kg` is not possible. Typescript doesn't have any insight into this prob

[2021-11-08 16:01] #219 closed, assigned to nobody

[2021-11-09 00:49] ZengLawrence commented on #221
Sorry, I don't have any quick fix for this problem even after reading some of the code base.

However, I think setting `strict` to `false` would defeat the purpose of using Typescript, which you want to have type safety at compile time.  And it is applied on global level to the entire project; so I would prefer to use my work around to provide specific type information for the constructor.  (See J

[2021-11-11 09:30] Geraj opened #226 "Precision lost when converting decimal values of energy"
When converting
convertUnits(0.000001).from('kWh').to('Wh')
I got the following value 0.0009999999999999998 instead of 0.001

A similar conversion between mt to kg works OK.
convertUnits(0.000001).from('mt').to('kg') results in 0.001
but gives incorrect value for 0.0000001 => 0.00009999999999999999

[2021-11-11 16:53] Taar commented on #226
This isn't an issue specifically with the `energy` values but with floating point numbers (see [here](https://stackoverflow.com/questions/588004/is-floating-point-math-broken)).

Converting `0.000001 kWh` to `Wh` results in `0.0009999999999999998` because of the maths used. It would be equal to `0.000001 * 3600000 / 3600` which results in `0.0009999999999999998`.  Interestingly though, in this cas

[2021-11-11 16:53] #226 closed

[2021-12-10 16:34] jzybert commented on #151
Any update on this? I'm getting this error currently in my React application

[2021-12-13 17:12] shaaandi opened #227 "Rendering of units in Latex."
Hi there,
 Thanks, everyone for the work.

 I am using the latest beta version in a production app and we want to render the units in latex.
 For example:
 `m3`   -->  `m³`

 I am not able to find any other library right now and I also know the `convert-units` is more about conversion and not the rendering part. However, just want to know if there is any plan or anyone using any other solutions --

[2021-12-14 16:50] Taar commented on #227
I would like to keep the scope of this library to only converting units. Therefore, there is no plans to support a feature like this.

[2021-12-14 16:50] #227 closed

[2022-01-06 05:39] svengau opened #228 "Request to publish latest version to NPM"
Hey and thanks for this really useful library. I've noticed the doc is not inline with the current published package, more particularly, it's not possible to use system as an argument here`.toBest({ system: 'imperial' })`.

Would you mind publishing a new version ?

Thanks and wish you the best for 2022.

[2022-01-06 17:09] Taar commented on #228
The documentation will not always be inline with any of the published packages since it reflects what's currently in development or slated for a release. To see the documentation for a release, select the tag that matches the version you're using within your application. Alternatively, you can view the documentation on `npmjs.org` for the version you're using.

You're welcome to clone the reposito

[2022-01-06 17:09] #228 closed

[2022-01-06 17:14] Taar commented on #151
Are you still getting errors or has version `^3.0.0-beta.2` resolved those errors?

[2022-01-06 17:16] jzybert commented on #151
Sorry, typo! without errors is what I meant to say. I'll update the original comment

[2022-01-07 16:12] Taar commented on #228
The latest code changes can be found here: https://www.npmjs.com/package/convert-units/v/3.0.0-beta.3

[2022-01-09 23:46] daniele-orlando opened #229 "recent released v3.0.0-beta.3 breaks @bundle-stats/utils"
Recent release of `convert-units`, the **v3.0.0-beta.3** broke @bundle-stats/utils.

I don't know exactly if it is a responsibility of _@bundle-stats/utils_ or _convert-units_, so I'm contacting both projects to understand it. Original issue (with a reproducible project) is tracked here https://github.com/relative-ci/bundle-stats/issues/1910

[2022-01-10 16:35] Taar commented on #229
@daniele-orlando I would like to point out that the beta builds for this project are **not** stable. If a project wants to use a beta build then I recommend pinning `convert-units` to a very specific version. Otherwise, a future beta release could cause more issues.

With all that said, between version `3.0.0-beta.2` and `3.0.0-beta.3` the `toBest` method was updated because of a bug found #219 .

[2022-01-11 07:38] Rajdeep97 opened #230 "Integrating in Angular project leads to compiler warning 'CommonJS or AMD dependencies can cause optimization bailouts'"
I import into Angular component in this way:

`import * as convert from 'convert-units';`

Then use it by:
[code]

This lead to the compiler warning:

Any solution to this? Anyone else facing similar issue?

[2022-01-11 11:46] daniele-orlando commented on #229
@Taar absolutely, the point was to be sure that the change was intended and not a bug. But you confirmed that it was an intended change, so I can close this ticket. Thank you very much for your effort on this issue.

[2022-01-11 11:46] #229 closed

[2022-01-27 00:32] kenmorechalfant opened #231 "Stackblitz fails to run a project using this package because the dependencies couldn't be resolved."
Version:
`2.3.4`

I am using this package in a project that I'm working on and I'm not having any issues locally but the project will not open in Stackblitz due to the error screenshotted below.

Stackblitz error:
![The dependencies for this project couldn't be resolved. This usually means that a dependency in your package.json is incorrect.](https://user-images.githubusercontent.com/4629022/15126

[2022-01-27 00:57] kenmorechalfant commented on #231
https://github.com/stackblitz/core/issues/1723

[2022-02-02 07:43] gael33 opened #232 "implement conversion to "feet per minute" (ft/min)"
For aviation purpose calculation, I really wished you had a conversion from m/s => ft/min.
Thanks guys if you can implement that!

[2022-02-03 14:09] Taar commented on #232
The beta version allows for you to add in your own conversions. Otherwise, submit a PR if you would like to see these measurements added.

[2022-02-03 14:09] #232 closed

[2022-02-06 19:40] pbr4ne opened #233 "inconsistent name spelling for "kilometre""
for some definitions it's spelled "kilometer", e.g.
`Square Kilometers`
`Kilometers`
`Cubic kilometers`
`Cubic kilometers per second`

for others it's spelled "kilometre", e.g.
`Minute per kilometres`
`Kilometres per hour`

Similar for "metre/meter".

I can make a PR to make this consistent but I'm not sure if that would be considered a breaking change.

[2022-02-08 15:31] Honest-Objections opened #234 "toBest({ system: 'metric' }) ignored"
Hi all! Great library

There appears to be a bug with the system override :

[code]
outputs :

[code]

I would expect it to output `ml` or similar?

[2022-02-08 15:51] Taar commented on #234
The `system` option is only available in the latest beta version. See the example code below:

[code]
Compiled and ran:
[code]
The documentation for the latest production version `2.3.4` can be found here: https://www.npmjs.com/package/convert-units

[2022-02-08 16:02] Taar commented on #231
It's likely that the issue is that for version `2.3.4` the package.json file has the old repository url of [github.com/ben-ng/convert-units](https://github.com/ben-ng/convert-units). A new version could be published with the correct url but that doesn't really solve the issue for the earlier versions.

[2022-02-09 05:19] pbr4ne commented on #233
Ahh, got it!

[2022-02-09 05:19] #233 closed

[2022-02-11 10:51] palo-bit opened #235 "Extend Energy with MJ and GJ?"
Hi there,

would it be possible to extend energy units with MJ and GJ?
Currently there are  'Wh' | 'mWh' | 'kWh' | 'MWh' | 'GWh' | 'J' | 'kJ' where 1 GWh translates to 3,600,000,000 kJ

Many thanks and I am happy to do a PR for it, as it seems to be a simple change.

[2022-02-11 17:03] Taar commented on #235
The beta version supports [creating custom systems and units](https://github.com/convert-units/convert-units#custom-measures) as well as [extending existing measures](https://github.com/convert-units/convert-units#extending-existing-measures). However, if you're using the latest production version `2.3.4`, then this is not possible.

PRs to add units to the beta version are always welcome.

[2022-03-21 08:38] bohndthi commented on #152
Hi, is there any solution to this problem?

[2022-03-30 11:48] mzihlmann opened #239 "negative temperatures"
First of all, thank you for that great library, it would be a real headache without.

im currently running 3.0.0-beta.3, because this way i get the toBest() function.

what i run into currently is the way negative temperatures are treated. Any negative temperature will be shown in Kelvin and Rankine respectively, which is a choice. But for my not scientific users it would be better to show small n

[2022-03-30 17:53] Taar commented on #239
Thanks for taking to time to create this issue. I think this is related to #152. I plan on spending some time looking into this issue in the near future. If you are able to provide any other examples of were `toBest` does unexpected things, that would be much appreciated.

[2022-04-07 13:43] BurnedBySnow opened #240 "Can't use certain units that exists in definitions"
The ones that I have tried that do not work are cl, dl and yd.
![image](https://user-images.githubusercontent.com/79046917/162213259-e5b951a3-9f9f-47e3-9d55-aa1a1445809e.png)

[2022-04-07 22:04] Taar commented on #240
There's not a lot to go off of here. Can you provide an isolated code sample?

The code sample should contain any custom units/definitions and it should clearly show which definitions are being used.

[2022-04-17 21:46] #152 closed

[2022-04-17 22:22] Taar commented on #239
There is one issue with the `toBest`method that isn't an easy fix, due to the fact that the best value is subjective. And in the case of temperatures, there isn't really a better representation of `-5 C` than `-5 C`. I believe the original purpose of `toBest` was to find a value when converted that is closest to `1`. That works well for something like `1000 m` as one could argue that `1 km` is the

[2022-04-23 17:08] mzihlmann commented on #239
I was also thinking about the issue at hand, indeed it is subjective what the best representation is in any given units system. Actually what the best units are might very well depend on the application (ie. liters for fluids vs m3 for solids), and I see that with your library it is perfectly possible to define such application specific units systems. But I think it might be worthwhile to define m

[2022-04-23 19:15] mzihlmann commented on #239
That said, the issue raised here is actually far simpler. The output of toBest will probably always produce unexpected results for some people in some applications - but that is fine as long as you can include/exclude units as you go. the issue here is that if you exclude the target unit, then the output is null.

[2022-04-29 17:48] vio commented on #229
Thanks for checking @Taar! The issue was indeed on bundle-stats side, I was using the beta without a version lock.

I finally had some time to review the failed tests and [added checks for empty responses from `toBest`](https://github.com/relative-ci/bundle-stats/pull/2233/files). In case it helps, the tests were failing when the value was `0`.

[2022-04-30 18:53] darkworks commented on #213
@Taar Is it possible to create page in wiki section that how to add new units. one quick tutorial will be good like if based on adding bps Bps unit
[code]

thanks

[2022-05-19 02:02] davetapley commented on #196
@Taar do you think v3 beta is stable enough to use in a production app?
I'm about to start using and not sure whether to start with v2 or jump straight in with v3 😁

[2022-05-19 03:22] sujit-kamireddy commented on #226
Can convert-units use exact-math underneath to avoid this issue?

[2022-05-19 03:31] Taar commented on #196
It's pretty stable. There will be a few more beta versions before the final release. I can't say for sure that those versions will contain breaking changes. I recommend using the latest beta build and make sure you pin the version!

[2022-05-20 05:30] davetapley opened #244 "Add type guards from string to Unit"
_I'm happy to make a PR if this sounds good, but I didn't want to start the work if there are concerns or objections 😁_

**My problem**

I have an API which returns `unit` as a string, and it would be nice to tell TypeScript:
[code]

because if `isSpeedUnit` has a [type predicate](https://www.typescriptlang.org/docs/handbook/2/narrowing.html#using-type-predicates) , then I could say:

[code]
... a

[2022-05-20 15:29] carlocorradini commented on #204
@Taar
It would be super useful, but I understand the effort needed to add this feature to the library

[2022-05-31 12:04] #80 closed

[2022-07-01 00:48] davetapley opened #246 "imperial length toBest can return nautical miles (nMi)"
If I do:

[code]

I get a result of `1.981641` nautical miles (`nMi`) and not `2.280432` miles (`mi`).
I'll admit that is _technically_ correct per: https://github.com/convert-units/convert-units/blob/af0dc8d0e03cadc6e6134dd00cb71aa83ced559d/README.md?plain=1#L72

... but probably isn't what most people want 🙈

---

Adding `exclude: ["nMi"]` is a workaround, but perhaps `nautical` should be consid

[2022-07-04 20:06] Taar commented on #246
Using `exclude: ["nMi"]` is the correct way to handle this situation. The other solution is creating a custom measure that only contains the units needed.

[2022-07-11 07:13] darkworks commented on #196
i updated to v3
`npm install convert-units@beta --save`
 and now am getting error

`An unhandled exception occurred: Script file ./node_modules/convert-units/lib/index.js does not exist.`

[2022-07-13 17:52] davetapley commented on #246
I agree it `exclude` is correct in library's current state, but I'd argue it's not obvious that `nMi` should be in `imperial`, both from a practical and theoretical stand point:

**Practically:**

1. I _assume_ using metric internally and then `toBest({ system: "imperial" })` is a fairly common use case

2. I _assume_ a tiny fraction of people would actually want nautical miles as a `toBest` type

[2022-07-14 10:05] 2brownc opened #247 "Uncaught TypeError: convert is not a function"
Example from README fails...

As per the README:

[code]

Output:

[code]

The setup:

Node @v18.5.0

[code]

What am I missing here?

[2022-07-15 14:43] Taar commented on #247
The main branch is based off of the beta builds of the project. Installing a beta version will resolve this issue. `npm install convert-units@beta`

[2022-07-15 14:43] #247 closed

[2022-07-15 14:55] Taar commented on #246
So the issue isn't `toBest` but rather that there is an unexpected unit in the `imperial` system? If that's the case, could we close this issue and open a different issue to discuss the state of the measures?

[2022-07-15 20:13] davetapley opened #248 "Remove nautical miles and fathoms from imperial"
For reason give on #246 I'd like to propose that nautical miles and fathoms added on #96 be removed from the `imperial` system.

[2022-07-22 14:05] Taar commented on #248
I'm open to cleaning up the systems/measures so that the sets are smaller. What approach do you think would work?

[2022-07-25 21:26] davetapley commented on #248
How about this: Leave `imperial` and `metric` as is (they will remain a set of all corresponding definitions), but:

Create and create a new `us-common` system which includes all the units in _italics_ on [here](https://en.wikipedia.org/wiki/United_States_customary_units), where:

[2022-08-13 14:02] rlueder commented on #171
@Taar do you need help maintaining the project? I have some free time in the coming months and would be able to help sort/close open issues and work on some additions to the library. A few tickets I'd be interested in helping with:
#235, #216, #213, #212, #166, #146, #125, #109, #100, #57

[2022-08-13 21:43] rlueder opened #253 "discussion: Simplify structure of tests and workflow for creating/updating tests"
As I had to create additional unit tests for `massFlowRate` I noticed most (all?) of the tests under `definitions/__tests__` use the same structure that could be streamlined. I used `volumeFlowRate.test.ts` as an example as it was the largest test in the library (434 lines, 38 unit tests) (see changes on #254 ).

I was able to reduce it to 56 lines (approx. 87% smaller) at the same time making it

[2022-08-14 07:34] dmbarry86 commented on #253
I think I see a few things wrong with this approach but I'm currently AFK so can't confirm my suspicions. I'll report back tomorrow after running the code.

[2022-08-14 20:13] Taar commented on #253
Personally I don't see the value in making the tests more dry. I personally prefer being very explicit with my tests and if that means there is a lot of code duplication, then so be it. My reasoning can be found below and also some issues with the proposed code that I wanted to highlight.

[code]

I disagree with the the use of `prettier-ignore`. The data is independent of one another. I don't thi

[2022-08-14 20:34] rlueder commented on #253
All fair points, appreciate the detailed feedback, I'll close the PR, thanks for the feedback!

[2022-08-14 20:34] #253 closed

[2022-08-15 07:08] dmbarry86 commented on #253
I concur with @Taar. My main concern was that you had consolidated lots of unit tests in to effectively one test as far as jest and the test reporting was concerned. This would make it very difficult to debug and to see exactly what tests are available. I also think you basically tried to duplicate what jest can already doing using the [test.each](https://jestjs.io/docs/api#testeachtablename-fn-ti

[2022-08-15 13:14] rlueder commented on #253
I didn't know about `test.each` thanks for the info!

[2022-08-17 22:47] Taar commented on #200
I am hoping that PR #256 fixes this. Could someone else help verify that it actually fixes the issue?

[2022-08-22 19:50] ardelato commented on #146
Hello!

This still seems to be an issue and is being used in the repo https://github.com/relative-ci/bundle-stats.

I made an issue in that repo as well https://github.com/relative-ci/bundle-stats/issues/2619, but I am wondering if this an issue that is planned to be addressed?

[2022-09-06 22:10] Taar commented on #146
@ardelato I submitted a PR for this #259 . Please verify that the contents of the PR would fix the issue. Thanks!

[2022-09-07 14:51] ardelato commented on #146
@Taar looks like that fixed it!

|Before|After|
|:---:|:---:|
|  ![Before](https://user-images.githubusercontent.com/22064420/188909251-977aa89b-2fe0-4db6-b742-dc0e5a0dbba1.png)     |    ![After](https://user-images.githubusercontent.com/22064420/188909247-fa5e0ef5-b0f3-448a-b64b-d4a2700eec54.png)   |

[2022-09-18 15:19] Taar commented on #146
I've publish version 3.0.0-beta.5 to npm which includes this fix. Closing this issue.

[2022-09-18 15:19] #146 closed

[2022-09-28 16:08] carlocorradini opened #261 "(Re)Add support for IEC standard (bibit/bibyte)"
Pull request https://github.com/convert-units/convert-units/pull/259 removed support for IEC standard (1KiB = 1024B) and replaced it with base 10 conversion (1KB = 1000B).

(Re)Add support for IEC standard while keeping the base 10 conversion:
[code]

[2022-10-19 15:55] Sjoerd82 opened #265 "How to use this in Vue.js?"
I see that there are wrapper packages that wrap convert-units for use in Vue. If possible I prefer to directly import the package.
However, I can't get this to work. I try to import this within a single-file component (it's a PWA) so it the bundler can optimize by code splitting.

I hacked this until it ran:
[code]
Except that I get this error
[code]
When I use it like this:
[code]

Those `require

[2022-10-20 18:51] pdwinkel commented on #265
Use the following (for release 3.0.0-beta.5):
[code]

[2022-10-25 10:45] thisTom opened #266 "Can convert-units use exact-math underneath to avoid floating point numbers problem"
Can convert-units use exact-math underneath to avoid this issue?

_Originally posted by @sujit-kamireddy in https://github.com/convert-units/convert-units/issues/226#issuecomment-1131135445_

[2022-10-25 10:46] thisTom commented on #266
I think it is a bug, not feature

[2022-11-07 22:55] selina opened #267 "Converting between pace and speed"
Hi! I just started using convert-units and it's been great so far. I haven't been able to figure out, though, whether it's possible to convert between pace and speed--it seems like they're entirely separate units. It also seems like this is the only pair of units that it's possible to convert between, so maybe this is a special situation? I'm guessing I need to write my own logic to handle this bu

[2022-11-08 17:33] Taar commented on #267
There is no direct support for this since the units are in different measures. However, if you're using one of the latest beta versions it is possible to make it work. You would need to create your own measure that is a combination of the two. There is some documentation on how to create custom measures in the readme. I believe all you would need to do is figure out the ratio from each pace unit t

[2022-11-29 17:15] jwir3 opened #269 "No such unit: degree Kelvin"
**Note**: This is _super_ nuanced, and pretty low priority.

 _Technically speaking_, there are no "degrees" Kelvin. Instead, Kelvin is just measured in Kelvin - it's both the unit of measure and the descriptor for the individual unit. (See https://en.wikipedia.org/wiki/Kelvin). What this means is that the following:

`convert().describe('K')`, which currently results in:
[code]

Should actually b